<div class="mr-6 w-52 max-w-sm snap-center">
  <div class="relative">
    <div
      class="
        absolute flex w-full items-center justify-between px-3 pt-3 align-middle
      "
    >
      <%# <p
        class="
          text-description rounded-full bg-neutral-400  px-4 py-1 font-semibold text-white shadow-lg
        "
      >Event</p> %>
      <div>
      </div>
    </div>

    <%= cl_image_tag(
      event.photo.key,
      class: "aspect-square h-52 w-52 rounded-xl",
    ) %>
  </div>
  <div class="mt-4">
    <div class="flex items-center justify-between ">
      <p class="text-s font-semibold"><%= event.title %></p>
      <p class="text-description flex items-center align-middle font-light">3.5 km
      </p>
    </div>
      <p class="text-description font-light"> <%= event.date.strftime("%a,  %d %b-%y") %> <%= event.time.strftime("%I:%M %p") %></p>
  </div>
</div>
